---
import { getI18N } from "@/i18n"
import projects from "../../public/projects.json";
import ProjectCard from "@/components/ProjectCard.astro";
import Layout from "@/layouts/Layout.astro";
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
type ProjectType = {
  name: string
  description: string
  github: string
  url: string
}
---
<Layout title={i18n.SEO_TITLE}>
  <main class="w-[600px] grid grid-cols-1 md:grid-cols-3 mx-auto items-center justify-between gap-20 pb-44">
    {projects?.map((project:ProjectType) => <ProjectCard {...project}/>)}
  </main>
</Layout>
