---
import LikendinIcon from "../icons/LikendinIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import { getI18N } from "@/i18n"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---
<header class="w-[600px] lg:w-[740px] mx-auto py-20 flex flex-col justify-center ">
  <picture>
    <img
      src="https://res.cloudinary.com/dzzfcox7t/image/upload/f_auto,q_auto/yclclagufzd2otgase0m"
      alt="header"
      class="rounded-full size-12 mb-5 ml-5 md:ml-0"
    />
  </picture>
  <h1 class="text-center text-white text-5xl font-bold ">{i18n.TITLE} </h1>
  <h2 class="pt-5 text-xl break-words pb-20 text-slate-400 text-center md:text-justify p">
   {i18n.TITLE_2}
  </h2>
  <ul class="flex gap-12 flex-row justify-center">
    <li>
      <a
        href="https://www.linkedin.com/in/javiergarciagonzalez-frontenddeveloper/"
        target="_blank"
        class="bg-white text-black p-1 rounded-full font-bold flex items-center justify-center hover:bg-blue-100 hover:scale-90 hover:transition-all hover:duration-300"
        ><LikendinIcon class="size-7" /> <span class="pl-2 tracking-widest">Likendin</span></a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/javiergarciagonzalez-frontenddeveloper/"
        target="_blank"
        class="bg-white text-black p-1  rounded-full font-bold flex items-center justify-center hover:bg-gray-300 hover:scale-90 hover:transition-all hover:duration-300"
        ><GithubIcon class="size-7" /> <span class="pl-2 tracking-widest">Github</span></a
      >
    </li>
  </ul>
</header>

