---
import LikendinIcon from "../icons/LikendinIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
---
<header class="w-[600px] lg:w-[740px] mx-auto py-20 flex flex-col justify-center ">
  <picture>
    <img
      src="https://res.cloudinary.com/dzzfcox7t/image/upload/f_auto,q_auto/yclclagufzd2otgase0m"
      alt="header"
      class="rounded-full size-12 mb-5 ml-5 md:ml-0"
    />
  </picture>
  <h1 class="text-center text-white text-5xl font-bold ">Hey, Soy Javier García.</h1>
  <h2 class="pt-5 text-xl break-words pb-20 text-slate-400 text-center md:text-justify p">
    +2 años de experiencia. Soy desarrollador web , especializado en FrontEnd.
  </h2>
  <ul class="flex gap-12 flex-row justify-center">
    <li>
      <a
        href="https://www.linkedin.com/in/javiergarciagonzalez-frontenddeveloper/"
        target="_blank"
        class="bg-white text-black p-1 rounded-full font-bold flex items-center justify-center hover:bg-blue-100"
        ><LikendinIcon class="size-7" /> <span class="pl-2">Likendin</span></a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/javiergarciagonzalez-frontenddeveloper/"
        target="_blank"
        class="bg-white text-black p-1  rounded-full font-bold flex items-center justify-center hover:bg-gray-300"
        ><GithubIcon class="size-7" /> <span class="pl-2">Github</span></a
      >
    </li>
  </ul>
</header>

